@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app, .container, #root {
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 !important;
}
